.container
  %h2 Create a new task
  = simple_form_for @task do |f|
    = f.input :title, label: "Title"
    = f.input :description, label: "Description"
    = f.input :company, label: "Company"
    = f.input :url, label: "Link to Task"
    = f.button :submit

  %br
  .btn.btn-info
    =link_to "All Task", tasks_path