:css
  .btn a {
    color:#fff;
    text-decoration:none;
  }
  .time_align{
    text-align:center;
  }

%h1{style:"text-align:center"} List all the Tasks.
.container
  -@tasks.each do |task|
    %h4=task.title
    %h4=task.description
    %h4=task.company
    %h4=task.url
    %h5.time_align="Create at #{task.created_at}."
    %br
  .btn.btn-info
    =link_to "New Task", new_task_path