:css
  .btn a {
    color:#fff;
    text-decoration:none;
  }

.container
  %h3="task #{@task.id} is shown in details"
  %br
  %h4=@task.title
  %h4=@task.description
  %h4=@task.company
  %h4=@task.url

  .btn.btn-info
    =link_to "New Task", new_task_path
  .btn.btn-info
    =link_to "All Task", tasks_path